.card-body {
  width: 250px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.nft-image {
  width: 100%; /* Use 100% width to make sure all images have the same width */
  height: 200px; /* Set a fixed height or adjust as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 10px;
  margin-top: 10px;
}

.card-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

h1 {
  color: white;
  margin-left: 5px;
}

.first-p {
  color: hsl(215, 51%, 70%);
  margin-left: 5px;
  margin-top: 10px;
  line-height: 20px;
}

.icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.first-icon {
  display: flex;
  align-items: center;
}

.second-icon {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.icon-ethereum {
  width: 10px;
  margin: 5px;
}

.first-icon p {
  color: hsl(178, 100%, 50%);
}

.icon-clock {
  width: 20px;
  margin: 5px;
}

.line {
  width: 100%;
  margin-top: 10px;
  border: solid 0.001em hsl(215, 51%, 70%);
}

.avatar {
  display: flex;
  align-items: center;
}
.avatar-img {
  width: 50px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar p {
  color: hsl(215, 51%, 70%);
  display: inline-block;
  margin-right: 10px;
}
span {
  color: white;
}
.n-btn {
  --border-radius: 50px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 10px 18px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-family: "Roboto", Arial, "Segoe UI", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
}

.n-btn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    #488cfb,
    #29dbbc,
    #ddf505,
    #ff9f0e,
    #e440bb,
    #655adc,
    #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.n-btn:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.n-btn,
.n-btn::after {
  box-sizing: border-box;
}

.n-btn:active {
  --border-width: 5px;
}
